@page
@model AuthorsModel
@{
    ViewData["Title"] = "Author";
}
<h1>@ViewData["Title"]</h1>

<p>This page includes information about the application author.</p>

<h2>Ian's Bio</h2>
<p>Ian is a Senior at Wayne State University pursuing his Bachelors with Honors in Computer Science and a Minor in Mathematics. <br/> Ian is also a Software Engineer in his professional life.</p>
<img src="images/dev.jpg" alt="Sample Photo" />

<h2>Connect with me!</h2>

